:root{
    --vermelho: #E50914;
    --preta: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Básicos  */
body {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background-color: var(--preta);
}

header {
    background: linear-gradient(to bottom, rgba(0,0,0, 0.2)50%, rgba(0,0,0, 1)100%), url(../img/destaque.jpg) top center/cover;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar ==============================*/
header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0,0.3));
}
/* Lado esquerdo do Navbar */
.navbar .left-side{
    display: flex;
    align-items: center;
    justify-content: start;
}
#logo {
    width: 120px;
    margin: 10px 36px 10px 36px;
}
#logo img {
    width: 100%;
}
.navbar nav a {
    font-size: 18px;
    text-decoration: none;
    color: #c6c6c6;
    margin-right: 10px;
}
.navbar nav a:hover{
    color: #ffffff;
}

/* Lado direito do Navbar */
.navbar .right-side{
    display: flex;
    align-items: center;
}
.navbar .right-side i{
    margin-right: 30px;
    cursor: pointer;
}
.navbar  .right-side span{
    margin-right: 30px;
    cursor: pointer;

}
.navbar .right-side img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
}


/* Filme/Série Destaque ============================== */
header .filme-destaque {
    font-size: 16px;
    height: 400px;
    width: 90%;
    margin: 0 30px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-destaque .titulo{
    max-width: 20%;
    margin: 20px 0;
}

.filme-destaque .descricao{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 20px;
    width: 50vw;
}

.filme-destaque .botao {
    background-color: rgba(60, 60, 60, 0.5);
    border: none;
    color: #ffffff;
    font-size: 14px;

    padding: 14px 28px;
    margin-right: 12px;
    transition: all 0.25s ease;
}
.filme-destaque .botao:hover{
    background-color: #ffffff;
    color: #222222;
}
.filme-destaque .botao i {
    margin-right: 5px;
}

/* Main ============================== */
main{
    margin: 0 0 0 30px;
}

main .carrosel-filmes h3{
    margin-bottom: 10px;
}